:root {
  --theme-color: #D35400;
  --lowlight-color: #34495e;
  --border-color: #f1f1f2;
  --font-color: #34495e;
}

body {
  font-size: 1.2em;
}

a {
  text-decoration: none !important;
}

/*************
  Cover page
**************/
.cover-main {
  color: var(--theme-color);
  color: #D35400;
  font-size: 1.2rem;
}

.cover-main a:hover {
  color: #f1c40f !important;
  transition: color 0.3s linear;
}

/*************
  Sidebar
**************/
.sidebar-nav a:hover {
  color: var(--theme-color);
  color: #D35400;
  transition: color 0.3s linear;
}

.sidebar-nav a {
  font-weight: bold;
  font-size: 1em !important;
}

.sidebar-nav ul {
  font-weight: bold;
  font-size: 0.9em;
}

.sidebar-nav .open:hover {
  color: var(--theme-color);
  color: #D35400;
  transition: color 0.3s linear;
}

.sidebar-nav > ul > li > ul * {
  font-size: 1em;
}

/*********************
  Markdown section 
*********************/
.markdown-section a {
  color: var(--font-color);
  color: #34495e;
}

.markdown-section a:hover, span:hover {
  color: var(--theme-color);
  color: #D35400;
  transition: color 0.3s linear;
}

.markdown-section li {
  padding-top: 0.6em;
}

.markdown-section p.warn {
  padding: 1.5rem;
  line-height: 2rem;
}

.markdown-section table {
  display: table;
}

.markdown-section table tr {
  border-width: 0.15rem 0;
  border-style: solid;
  border-color: var(--border-color);
  border-color: #f1f1f2;
}

.markdown-section table thead tr {
  text-transform: uppercase;
  font-size: 90%;
  border-top: none;
}

.markdown-section table tbody tr:last-of-type {
  border-bottom: none;
}

.markdown-section table tr:nth-child(2n) {
  background-color: transparent;
}

.markdown-section table td,
.markdown-section table th {
  border: none;
  padding: 1.1rem 0.5rem;
  text-align: left;
}

.markdown-section table td p {
  margin: 0;
}

.markdown-section code {
  font-size: 0.8em !important;
}

/********************
  docsify-copy-code
********************/
.docsify-copy-code-button {
  font-size: 0.5em !important;
}

/********************************
  docsify-pagination-container
********************************/
div.pagination-item-title {
  text-decoration: none !important;
}

/****** 
  for JS
  ******/